<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listagem de Fornecedor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listagem de Fornecedor</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid class="ion-grid-padding">
      <ion-row>
        <ion-col>#</ion-col>
        <ion-col>Razão Social</ion-col>
        <ion-col>Cnpj</ion-col>
        <ion-col>Contato</ion-col>
        <ion-col>Logradouro</ion-col>
        <ion-col>Número</ion-col>
        <ion-col>Bairro</ion-col>
        <ion-col>Cidade</ion-col>
        <ion-col>CEP</ion-col>
      </ion-row>

      <ion-row>
        <ion-col>1</ion-col>
        <ion-col>StarFrames</ion-col>
        <ion-col>12345678</ion-col>
        <ion-col>12345678</ion-col>
        <ion-col>74</ion-col>
        <ion-col>Teste</ion-col>
        <ion-col>Teste</ion-col>
        <ion-col>123456</ion-col>
      </ion-row>
  </ion-grid>

</ion-content>
</ion-content>
