<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{editable ? 'Edição de Produto' : 'Cadastro de Produtos'}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{editable ? 'Edição de Produto' : 'Cadastro de Produtos'}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="produtoForm" #createForm="ngForm" fullscreen (submit)="editable ? editProduto(produtoForm.value) : createProduto(produtoForm.value)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Nome do Produto</ion-label>
        <ion-input formControlName="nome" clearInput="true" inputMode="text" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Quantidade em Estoque</ion-label>
        <ion-input formControlName="quantidade" clearInput="true" inputMode="number" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Preço de Compra</ion-label>
        <ion-input formControlName="precoCompra" clearInput="true" type="number" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Margem de lucro</ion-label>
        <ion-input formControlName="lucro" clearInput="true" type="number" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Fornecedor</ion-label>
        <ion-input formControlName="fornecedor" clearInput="true" inputMode="text" required></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button [disabled]="produtoForm.invalid" type="submit" buttonType="submit" expand="block" type="submit" class="ion-no-margin">{{editable ? 'Editar' : 'Cadastrar'}}</ion-button>
    </div>
  </form>

</ion-content>
