<ion-header>
  <ion-toolbar>
    <ion-title>Produto</ion-title>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item-group>
    <ion-item>
      <ion-note slot="start">Id</ion-note>
      <ion-label>{{produto.id}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-note slot="start">Quantidade</ion-note>
      <ion-label>{{produto.quantidade}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-note slot="start">Preço de Compra</ion-note>
      <ion-label>{{produto.precoCompra}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-note slot="start">Preço de Venda</ion-note>
      <ion-label>{{produto.precoVenda}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-note slot="start">Fornecedor</ion-note>
      <ion-label>{{produto.fornecedor}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-note slot="start">Margem de lucro</ion-note>
      <ion-label>{{produto.lucro}}</ion-label>
    </ion-item>
  </ion-item-group>

    <ion-row class="ion-justify-content-between">
      <ion-col size="4" class="ion-text-center">
        <ion-button size="small" shape="round" (click)="edit(produto.id)" color="tertiary">Editar <ion-icon slot="end" name="pencil-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-button size="small" shape="round" (click)="delete(produto.id)" color="danger">Excluir <ion-icon name="trash-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>

</ion-content>
