      <ion-header>
        <ion-toolbar>
          <ion-title>Fornecedor</ion-title>
          <ion-buttons slot="start">
            <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Informações da Empresa</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-note slot="start">Id</ion-note>
            <ion-label>{{fornecedor.id}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-note slot="start">Cnpj</ion-note>
            <ion-label>{{fornecedor.cnpj}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-note slot="start">Contato</ion-note>
            <ion-label>{{fornecedor.contato}}</ion-label>
          </ion-item>
        </ion-item-group>
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Endereço</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-note slot="start">Logradouro</ion-note>
            <ion-label>{{fornecedor.logradouro}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-note slot="start">Número</ion-note>
            <ion-label>{{fornecedor.numero}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-note slot="start">Bairro</ion-note>
            <ion-label>{{fornecedor.bairro}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-note slot="start">Cidade</ion-note>
            <ion-label>{{fornecedor.cidade}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-note slot="start">CEP</ion-note>
            <ion-label>{{fornecedor.cep}}</ion-label>
          </ion-item>
        </ion-item-group>
          <ion-row class="ion-justify-content-between">
            <ion-col size="4" class="ion-text-center">
              <ion-button size="small" shape="round" (click)="editFornecedor(fornecedor.id)" color="tertiary">Editar <ion-icon slot="end" name="pencil-outline"></ion-icon></ion-button>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <ion-button size="small" shape="round" (click)="delete(fornecedor.id)" color="danger">Excluir <ion-icon name="trash-outline"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
      </ion-content>


